/*Variables*/
// colors starts

$primary-color:#FF7B47;
$secondary-color:#17213C;
$text-color:#252B42;
$second-text-color:#737373;
$background-color:#FAFAFA;
$light-color: #fff;
// colors ends

// fonts
$font__family: 'Montserrat', sans-serif;


//padding
$padding__base: 195px;
$padding__card: 42px;

//margin
$margin__right:21px;
$margin__top:40px;

//Font-size
$font__size-lg: 14px;