/*==========BUTTONS START==========*/
.btn{
    width: 185;
    height: 48px;
    border-radius: 37px;
    padding: 10px, 36px, 10px, 36px;
    border: 1px solid;
    padding: 10px 36px;
    transition: ease .3s;
    &-first{
        background-color: $primary-color;
        color: $light-color;
        border: none;
        &:hover{
            background:transparent;
            color: $primary-color;
            border: 1px solid;
            
        }
    }

    &-second{
        color: $light-color;
       
    }
}

/*==========BUTTONS END==========*/

//card_btn

.card_btn{
    width: 9rem;
    height: 3rem;
    padding: 1rem 2rem;
    border-radius: 3.7rem;
}