/*==========HEADER START==========*/
header {
	position: absolute;
	@include flex;
	opacity: 1;
	
	
		
	.nav__icon{
		h3{
			color: $light-color
		}
	}
	
	.nav__list{
	@include flex;
	 &__item{
			
		margin-right: 21px;	
			
			
	 }
		
	 }
	.nav__toggle{
		display: none;
	}
	
	
	
}
/*==========HEADER END==========*/
