/*Variables*/
/*Mixins*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 14px;
  height: 793px;
  width: 1498px;
}

.container {
  padding: 0 195px;
}

h1 {
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: 58px;
  line-height: 80px;
  color: #fff;
}

h2 {
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-style: bold;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.1px;
}

h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #737373;
}

.mb-2 {
  margin-bottom: 20px;
}

.bg-primary {
  background-color: #252B42;
}

p {
  color: #737373;
}

.light-color {
  color: #fff;
}

/*==========BUTTONS START==========*/
.btn {
  width: 185;
  height: 48px;
  border-radius: 37px;
  padding: 10px, 36px, 10px, 36px;
  border: 1px solid;
  padding: 10px 36px;
}

.btn-first {
  background-color: #FF7B47;
  color: #fff;
  border: none;
}

/*==========BUTTONS END==========*/
.card_btn {
  width: 9rem;
  height: 3rem;
  padding: 1rem 2rem;
  border-radius: 3.7rem;
}

/*==========NAVIGATION START==========*/
/*==========NAVIGATION END==========*/
/*==========HEADER START==========*/
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

header .nav__icon h3 {
  color: #fff;
}

header .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav__list__item {
  margin-right: 21px;
}

header .nav__toggle {
  display: none;
}

/*==========HEADER END==========*/
/*==========FORM START==========*/
/*==========FORM END==========*/
/*==========GRID START==========*/
/*==========GRID END==========*/
/*==========FOOTER START==========*/
.footer__main {
  display: flex;
}

.footer__main__description {
  padding: 60px;
}

.footer__main__description h3 {
  margin-bottom: 22px;
}

.footer__main__description a {
  color: #737373;
}

.footer__main__description p {
  padding-bottom: 10px;
}

.footer__main__description .icon img {
  margin-right: 10px;
}

.footer__description {
  text-align: center;
  padding: 20px;
  background-color: #FAFAFA;
}

/*==========FOOTER END==========*/
/*==========MAIN START==========*/
/*========== Content Section Starts==========*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 760px;
  position: relative;
  background-image: url(/assets/images/images/background.jpg);
  background-size: cover;
}

.content__main {
  width: 860px;
  height: 428px;
  text-align: center;
}

.content__main h4 {
  margin-top: 40px;
  color: #fff;
  width: 539px;
  height: 60px;
  margin-left: 160.5px;
  margin-bottom: 40px;
}

.content__description {
  width: 1049px;
  height: 96px;
  background-color: #fff;
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content__description__item {
  display: flex;
}

.content__description__item h3 {
  color: #252B42;
}

.content__description__item__logo img {
  width: 48px;
  height: 47.41px;
}

/*========== Content Section Ends============*/
/*========== Services Section Ends============*/
.services {
  background: #FAFAFA;
  padding-top: 120px;
  padding-bottom: 50px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__items__card {
  width: 230px;
  height: 290px;
  padding: 42px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.services__items__card:not(:last-child) {
  background-color: #fff;
  margin-right: 40px;
}

.services__items__card:last-child {
  color: #fff;
}

/*========== services Section Ends============*/
/*========== AboutUs Section starts============*/
.about {
  background: #FAFAFA;
}

.about__header {
  text-align: center;
  padding: 80px 350px;
}

.about__main {
  display: flex;
}

.about__main__video {
  position: relative;
}

.about__main__video .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__main__content {
  padding: 10px 100px;
}

.about__main__content p {
  margin-bottom: 50px;
}

.about__main__content figure {
  display: flex;
}

.about__main__content figure img {
  margin: 0 10px;
}

.about__main__content figure h6 {
  margin-right: 20px;
}

/*========== AboutUs Section Ends============*/
/*========== Client Section starts============*/
.client {
  height: 600px;
  background-color: #17213C;
}

.client__header {
  text-align: center;
  padding: 80px 350px;
}

.client__header p {
  color: #fff;
  text-align: center;
}

.client__main {
  display: flex;
}

.client__main__card {
  background-color: #fff;
  padding: 30px 40px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.client__main__card:not(:last-child) {
  margin-right: 97px;
}

.client__main__author {
  position: absolute;
  top: 10px;
  left: -60px;
}

/*========== client Section starts============*/
/*========== Team Section starts============*/
.team {
  background-color: #FAFAFA;
  height: 600px;
}

.team__header {
  text-align: center;
  padding: 80px 350px;
}

.team__description {
  display: flex;
}

.team__description__card {
  background-color: #fff;
  padding: 30px 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team__description__card h6 {
  color: #FF7B47;
}

.team__description__card h5 {
  color: #252B42;
}

.team__description__card:not(:last-child) {
  margin-right: 40px;
}

/*========== Team Section ends============*/
/*========== Form Section starts============*/
.form {
  height: 1100px;
  background-color: #FAFAFA;
  position: relative;
}

.form__map {
  display: flex;
  padding: 100px;
  height: 720px;
}

.form__map__description {
  color: #fff;
}

.form__map__description p {
  color: #fff;
}

.form__map__description img {
  opacity: 0.1;
}

.form__map__description:not(:last-child) {
  margin-right: 100px;
}

.form__container-fluid {
  width: 100%;
  background-color: #252B42;
}

.form__registr {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  left: 190px;
  position: absolute;
  bottom: 7%;
  display: flex;
  height: 642px;
}

.form__registr form {
  width: 750px;
  background-color: #fff;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
}

.form__registr form input, .form__registr form select {
  padding: 15px 25px;
  margin-bottom: 15px;
}

.form__registr form label {
  margin-bottom: 15px;
}

.form__registr form button {
  padding: 15px 40px;
  background-color: #FF7B47;
  border: none;
  margin-top: 10px;
}

/*========== Form Section ends============*/
/*==========MAIN END==========*/
/*Media Query 1200px start*/
/*Media Query 1200px end*/
/*Media Query 992px start*/
/*Media Query 992px end*/
/*Media Query 768px start*/
/*Media Query 768px end*/
/*Media Query 576px start*/
/*Media Query 576px end*/
/*# sourceMappingURL=main.css.map */