/*==========MAIN START==========*/

/*========== Content Section Starts==========*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    position: relative;
    
    
    &__main{
        width: 860px;
        height: 428px;
        text-align: center;
        h4{
            margin-top: $margin__top;
            color: $light-color;
            width: 539px;
            height: 60px;
            margin-left: 160.5px;
            margin-bottom: $margin__top;
            
        }
          
    }
    &__description{
        .container{
            position: absolute;
            bottom: -15px;
            display: flex;
            &__item{
                display: flex;

                &__logo{
                    img{
                        width: 48px;
                        height: 47.41px;
                    }
                    
                }
            }
         }
            
      
    }
}
/*========== Content Section Ends============*/

//

/*========== Services Section Ends============*/

.services{
    background: #FAFAFA;
    margin-top: 28px;

    &__items{
        @include flex;

        &__card{
            
            padding: $padding__card;
            
            &:not(:last-child){
             background-color: $light-color; 
              margin-right: 40px; 
            }
            &:last-child{
                color: $light-color;
            }
        }
    }
}

/*========== services Section Ends============*/


/*========== AboutUs Section starts============*/
.about{
    background: #FAFAFA;
   &__header{
       text-align: center;
       margin: 100px 350px;
     }

   &__main{   
       display: flex;
       
       &__video{
           position: relative;

           .icon{
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
           }
       }
       &__content{
           padding: 10px 100px;
           p{
               margin-bottom: 50px;
           }
           figure{
               display: flex;
               img{
                   margin: 0 10px;
               }
               h6{
                   margin-right: 20px;
               }
           }
       }
       

        
       
    }
}
/*========== AboutUs Section Ends============*/


/*========== Client Section starts============*/
.client{
    height: 620px;
    background-color: $secondary-color;
    &__header{
       text-align: center;
       margin: 100px 350px;
      
       p{
           color: $light-color;
           text-align: center;
       }
       
    }

    &__main{
        display: flex;

        &__card{
            background-color: $light-color;
            padding: 30px 40px;
            position: relative;

            &:not(:last-child){
                margin-right: 97px;
            }
        }
        &__author{
            position: absolute;
            top: 10px;
            left: -60px;
        }
    }
}
/*========== client Section starts============*/


/*==========MAIN END==========*/
