/*==========MAIN START==========*/

/*========== Content Section Starts==========*/
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    position: relative;
    
    
    &__main{
        width: 860px;
        height: 428px;
        text-align: center;
        h4{
            margin-top: $margin__top;
            color: $light-color;
            width: 539px;
            height: 60px;
            margin-left: 160.5px;
            margin-bottom: $margin__top;
            
        }
          
    }
    &__description{
        .container{
            position: absolute;
            bottom: -15px;
            display: flex;
            &__item{
                display: flex;

                &__logo{
                    img{
                        width: 48px;
                        height: 47.41px;
                    }
                    
                }
            }
         }
            
      
    }
}
/*========== Content Section Ends============*/


/*==========MAIN END==========*/
